{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
	{epgsql, ".*", {git, "git://github.com/wg/epgsql.git", {branch, "master"}}},
	{epgsql_pool, ".*", {git, "git://github.com/Egobrain/epgsql_pool.git", {branch, "master"}}}
]}.
