{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
    warn_missing_spec,
    debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
    {mongodb, ".*", {git, "https://github.com/ten0s/mongodb-erlang.git", {tag, "0.3.3"}}},
    {edate, ".*", {git, "https://github.com/dweldon/edate.git", {branch, "master"}}},
    k_common
]}.
