{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
	{kv_storage, ".*", {git, "git://github.com/PowerMeMobile/kv_storage.git", {branch, "master"}}},
	{mongodb, ".*", {git, "git://github.com/AntonSizov/mongodb-erlang.git", {branch, "master"}}},
	{record_info, ".*", {git, "git://github.com/bipthelin/erlang-record_info.git", {branch, "master"}}},
	k_common
]}.
