{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
	{mongodb, ".*", {git, "git://github.com/AntonSizov/mongodb-erlang.git", {branch, "master"}}},
	{edate, ".*", {git, "git://github.com/dweldon/edate.git", {branch, "master"}}},
	k_common
]}.
