{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
	{cassandra_thrift, "19.30.0", {git, "https://github.com/lpgauth/cassandra-thrift-erlang.git", {tag, "19.30.0"}}},
	{thrift, "0.8.1", {git, "https://github.com/ten0s/thrift-erlang.git", {tag, "0.8.1"}}}
]}.
