{erl_first_files, [gen_cowboy_restful]}.
{cover_enabled, true}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{erl_opts, [warn_missing_spec, debug_info]}.
{deps,
 [
 	{cowboy, ".*",	{git, "https://github.com/extend/cowboy.git", {tag, "0.6.0"}}},
 	{gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}},
 	{rfc4627_jsonrpc, "0.*", {git, "git://github.com/tonyg/erlang-rfc4627", "HEAD"}},
	k_common
 ]}.
