{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{erl_opts, [warn_missing_spec, debug_info]}.
{deps, [
    {gen_http_api, ".*", {git, "https://github.com/PowerMeMobile/gen_http_api.git", {tag, "2.0.0"}}},
    {mimetypes, "1.0", {git, "https://github.com/spawngrid/mimetypes.git", "HEAD"}},
    k_common
]}.
