{erl_first_files, [gen_cowboy_restful]}.
{cover_enabled, true}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{erl_opts, [warn_missing_spec, debug_info]}.
{deps,
 [
 	{cowboy, ".*",	{git, "https://github.com/extend/cowboy.git", "HEAD"}},
 	{gproc, ".*", {git, "http://github.com/esl/gproc.git", "master"}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v0.9.0"}},
	k_common
 ]}.
