deps/
rel/erl_crash.dump
rel/files/mib/.index
rel/kelly*
subapps/*/ebin/*.beam
subapps/*/ebin/*.app
subapps/*/ebin/*.hrl
subapps/*/ebin/*~
subapps/k_common/include/FunnelAsn.hrl
subapps/k_common/include/JustAsn.hrl
subapps/k_common/src/FunnelAsn.asn1db
subapps/k_common/src/FunnelAsn.erl
subapps/k_common/src/JustAsn.asn1db
subapps/k_common/src/JustAsn.erl
subapps/k_common/include/k1api_pb.hrl
subapps/*/.eunit
subapps/*/priv/*.so
test/__pycache__/
test/env/
test/*.pyc
*TAGS
