{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
   warn_missing_spec,
   debug_info
   ]}.
{sub_dirs, [
	"rel",
	"subapps/k_common",
	"subapps/k_gen_storage",
	"subapps/k_kyte_storage",
	"subapps/k_riak_storage",
	"subapps/k_mongodb_storage",
	"subapps/k_odbc_storage",
	"subapps/k_postgresql_storage",
	"subapps/k_mysql_storage",
	"subapps/k_cassandra_storage",
	"subapps/k_storage",
	"subapps/k_aaa",
	"subapps/k_config",
	"subapps/k_handlers",
	"subapps/k_j3_support",
	"subapps/k_mailbox",
	"subapps/k_mb_amqp",
	"subapps/k_http_api"
]}.
{deps_dir, ["deps"]}.
{lib_dirs, ["deps"]}.
