{erl_first_files, []}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
{erl_opts, [
   warn_export_all,
   warn_missing_spec,
   debug_info
   ]}.
{sub_dirs, [
	"rel",
	"subapps/k_common",
	"subapps/k_storage",
	"subapps/k_mailbox",
	"subapps/k_handlers",
	"subapps/k_j3_support",
	"subapps/k_statistic",
	"subapps/k_http_api"
]}.
{deps_dir, "deps"}.
{lib_dirs, ["deps"]}.
{deps, [
    {entop, "0.0.1", {git, "git://github.com/mazenharake/entop.git", {branch, "master"}}},
	{eper, ".*", {git, "git://github.com/massemanet/eper.git", {branch, "master"}}},
	{sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}},
	{etest_http, ".*", {git, "https://github.com/AntonSizov/etest_http.git", "HEAD"}}
]}.
