{erl_opts, [
    warn_export_all,
    warn_missing_spec,
    debug_info
]}.

%% NOTE: rebar is able to make undefined_function_calls and
%% exports_not_used predefined xref checks only, but
%% exports_not_used does not work with subapps dirs structure
%% It is necessary to implement manual exports_not_used xref check
{xref_checks, [undefined_function_calls]}.

{sub_dirs, [
    "rel",
    "subapps/k_common",
    "subapps/k_storage",
    "subapps/k_mailbox",
    "subapps/k_defers",
    "subapps/k_handlers",
    "subapps/k_support",
    "subapps/k_statistic",
    "subapps/k_http_api"
]}.
{deps_dir, "deps"}.
{lib_dirs, ["deps"]}.
{deps, [
    {entop, "0.0.1", {git, "https://github.com/mazenharake/entop.git", {branch, "master"}}},
    {eper, ".*", {git, "https://github.com/massemanet/eper.git", {branch, "master"}}},
    {recon, ".*", {git, "git://github.com/ferd/recon.git", {tag, "2.2.0"}}},
    {etest_http, ".*", {git, "https://github.com/ten0s/etest_http.git", "HEAD"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose]}.
