{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
    warn_missing_spec,
    debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
    {alley_services, ".*", {git, "https://github.com/PowerMeMobile/alley_services.git", {tag, "2.7.0"}}},
    k_common,
    k_storage
]}.
