{sys, [
       {lib_dirs, ["../deps", "../subapps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {rel, "kelly", "1",
        [
         kernel,
         stdlib,

         k_common,

         k_gen_storage,
% don't add storage plugins here. see below.

         k_storage,
         k_aaa,
         k_config,
         k_mailbox,
         k_handlers,
         k_j3_support,
         k_http_api,

         appmon,
         tv,
         debugger
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "kelly"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/doc", "^erts.*/src",
                           "^erts.*/info", "^erts.*/man",
                           "^erts.*/lib", "^erts.*/include",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, eper, [{incl_cond, include}]},

% add storage plugins here. this way they will be included into
% the release, but won't be loaded automatically.
       {app, k_kyte_storage, [{incl_cond, include}]},
       {app, k_riak_storage, [{incl_cond, include}]},
       {app, k_mongodb_storage, [{incl_cond, include}]},
       {app, k_odbc_storage, [{incl_cond, include}]},
       {app, k_postgresql_storage, [{incl_cond, include}]},
       {app, k_mysql_storage, [{incl_cond, include}]},
       {app, k_cassandra_storage, [{incl_cond, include}]}
      ]}.

{target_dir, "kelly"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/kelly", "bin/kelly"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/kelly.cmd", "bin/kelly.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},

           {mkdir, "manager/conf"},
           {copy, "files/manager/conf/*", "manager/conf"},
           {mkdir, "manager/db"},
           {mkdir, "mib"},
           {copy, "files/mib/JUST-MIB.bin", "mib/JUST-MIB.bin"},

           {copy, "files/kelly_http_configure", "bin/kelly_http_configure"},
		   {copy, "files/send_msgs", "bin/send_msgs"},
		   {copy, "files/performance", "bin/performace"},

           {mkdir, "data/sendings.d"},
           {mkdir, "data/time-slices.d/msg-stats"},
		   {mkdir, "data/time-slices.d/gtw-stats"},
           {mkdir, "data/time-slices.d/status-stats"},

           {copy, "files/gui", ""}
]}.
