{sys, [
    {lib_dirs, ["../deps", "../subapps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {rel, "kelly", "1", [
        kernel,
        stdlib,

        k_common,
        k_storage,
        k_statistic,
        k_mailbox,
        k_handlers,
        k_j3_support,
        k_http_api
    ]},
    {rel, "develop", "", [
        kernel,
        stdlib,
        sync,

        k_common,
        k_storage,
        k_statistic,
        k_mailbox,
        k_handlers,
        k_j3_support,
        k_http_api
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "kelly"},
    {profile, embedded},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, [
        "^bin/.*", "^erts.*/doc", "^erts.*/src",
        "^erts.*/info", "^erts.*/man",
        "^erts.*/lib", "^erts.*/include",
        "^erts.*/bin/(dialyzer|typer)"
    ]},
    {excl_app_filters, ["\.gitignore"]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, eper, [{incl_cond, include}]},
    {app, runtime_tools, [{incl_cond, include}]},
    {app, entop, [{incl_cond, include}]}
]}.

{target_dir, "kelly"}.

{overlay, [
    {mkdir, "data"},

    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/kelly", "bin/kelly"},
    {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},

    {mkdir, "manager/conf"},
    {copy, "files/manager/conf/*", "manager/conf"},
    {mkdir, "manager/db"},
    {mkdir, "mib"},
    {copy, "files/mib/JUST-MIB.bin", "mib/JUST-MIB.bin"},

    {copy, "files/kelly_http_configure", "bin/kelly_http_configure"},
    {copy, "files/send_mt_msgs", "bin/send_mt_msgs"},
    {copy, "files/send_mo_msgs", "bin/send_mo_msgs"},

    {copy, "files/gui", ""}
]}.
