{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
	k_common,
	{gen_wp, ".*", {git, "https://github.com/AntonSizov/gen_wp.git", "HEAD"}},
	{lager, ".*", {git, "https://github.com/basho/lager.git", "HEAD"}},
	{amqp_client, ".*", {git, "git://github.com/iamaleksey/amqp_client.git", {branch, "master"}}}
]}.
