{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
    warn_missing_spec,
    debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps"]}.
{deps, [
    {alley_common, ".*", {git, "https://github.com/PowerMeMobile/alley_common.git", {tag, "1.4.0"}}},
    {alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git", {tag, "2.8.0"}}},
    {rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", {tag, "2.0.1"}}},
    {libuuid, "1.0.0", {git, "https://github.com/iamaleksey/libuuid.git", {branch, "master"}}}
]}.
