{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps"]}.
{deps, [
	{alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git", "fc6902a5e6"}},
	{rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", "HEAD"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
	{sync, ".*", {git, "https://github.com/ten0s/sync.git", {branch, "dk_support_release"}}}
]}.
