{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps"]}.
{deps, [
	{alley_dto, ".*", {git, "https://github.com/PowerMeMobile/alley_dto.git", {branch, "master"}}},
	{rmql, ".*", {git, "https://github.com/PowerMeMobile/rmql.git", {tag, "1.0.0"}}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},
	{libuuid, "1.0.0", {git, "git://github.com/iamaleksey/libuuid.git", {branch, "master"}}}
]}.
