{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
	%% bin_opt_info,
	warn_missing_spec,
	debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
	{amqp_client, ".*", {git, "git://github.com/iamaleksey/amqp_client.git", "HEAD"}},
	{gproc,	"0.*", {git, "https://github.com/uwiger/gproc.git", "HEAD"}},
	k_common,
	k_aaa,
	k_config
]}.
