{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [
    warn_missing_spec,
    debug_info
]}.
{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
    {gproc, "0.*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.2.16"}}},
    {iconverl, "1.1", {git, "git://github.com/iamaleksey/iconverl.git", {branch, "master"}}},
    {gsm0338, "1.0", {git, "https://github.com/AntonSizov/gsm0338.git", {branch, "pure-erlang"}}},
    k_common,
    k_storage
]}.
