{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
    k_common,
    {gen_wp, "1.1.0", {git, "https://github.com/AntonSizov/gen_wp.git", {tag, "1.1.0"}}},
    {ring_buffer, "0.1.0", {git, "https://github.com/AntonSizov/ring_buffer.git", {tag, "0.1.0"}}},
    {bstr, ".*", {git, "https://github.com/jcomellas/bstr.git", {tag, "v0.2.0"}}}
]}.
