{sub_dirs, []}.
{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../deps", ".."]}.
{deps, [
	k_common,
	{gen_wp, ".*", {git, "https://github.com/AntonSizov/gen_wp.git", {tag, "1.0.0"}}},
	{ring_buffer, ".*", {git, "https://github.com/AntonSizov/ring_buffer.git", "HEAD"}},
	{bstr, ".*", {git, "https://github.com/jcomellas/bstr.git", "d49138e7bce14fa29bacee6c747c8d9953294885"}}
]}.
