[
{k_http_api, [
    {addr, {0,0,0,0}},
    {port, 8080},
    {acceptors_num, 1}
]},

{k_storage, [
    {static_storage, [
        {mongodb_conn_props, {single, {"127.0.0.1", 27017}}},
        {mongodb_dbname, <<"kelly">>},
        {mongodb_pool_size, 5}
    ]},
    {mailbox_storage, [
        {mongodb_conn_props, {single, {"127.0.0.1", 27017}}},
        {mongodb_dbname, <<"mailbox">>},
        {mongodb_pool_size, 2}
    ]},
    {defers_storage, [
        {mongodb_conn_props, {single, {"127.0.0.1", 27017}}},
        {mongodb_dbname, <<"defers">>},
        {mongodb_pool_size, 2}
    ]},
    {dynamic_storage, [
        {shift_frame, {months, 1}},
        {response_frame, {hours, 2}},
        {delivery_frame, {days, 3}},

        {mongodb_conn_props, {single, {"127.0.0.1", 27017}}},
        {mongodb_dbname_fmt, "kelly_~s"},
        {mongodb_pool_size, 10}
    ]},
    {shifted_storage, [
        {mongodb_conn_props, {single, {"127.0.0.1", 27017}}},
        {mongodb_pool_size, 2}
    ]}
]},

{rmql, [
    {amqp_props, [
        {host, "127.0.0.1"},
        {port, 5672},
        {username, <<"guest">>},
        {password, <<"guest">>},
        {vhost, <<"/">>},
        {qos, 10}
    ]},
    {survive, true}
]},

{k_handlers, [
    {amqp_k1api_sms_request, [
        {queue, <<"pmm.alley.kelly.request.sms">>},
        {handler, k_sms_request_handler},
        {declare_queue, true},
        {rmq_qos, 10}
    ]},
    {amqp_sms_request, [
        {queue, <<"pmm.alley.funnel.request.sms">>},
        {handler, k_sms_request_handler},
        {rmq_qos, 10}
    ]},
    {amqp_sms_request_deferred, [
        {queue, <<"pmm.alley.kelly.request.sms.deferred">>},
        {handler, k_sms_request_deferred_handler},
        {rmq_qos, 2}
    ]},
    {amqp_sms_response, [
        {queue, <<"pmm.alley.kelly.response.sms">>},
        {handler, k_sms_response_handler},
        {rmq_qos, 10}
    ]},
    {amqp_receipt_batch, [
        {queue, <<"pmm.alley.kelly.receipt.sms">>},
        {handler, k_receipt_batch_handler},
        {rmq_qos, 100}
    ]},
    {amqp_funnel_events, [
        {queue, <<"pmm.alley.funnel.events">>},
        {handler, k_funnel_events_handler},
        {rmq_qos, 10}
    ]},
    {amqp_incoming_sms, [
        {queue, <<"pmm.alley.kelly.incoming.sms">>},
        {handler, k_incoming_sms_handler},
        {rmq_qos, 10}
    ]},
    {funnel_node_queue_fmt,     <<"pmm.alley.funnel.nodes.%id%">>},
    {funnel_control_queue,      <<"pmm.alley.funnel.control">>},
    {just_control_queue,        <<"pmm.alley.just.control">>},
    {just_gateway_queue_fmt,    <<"pmm.alley.just.gateway.%id%">>},
    {oneapi_incoming_sms_queue, <<"pmm.alley.oneapi.incoming.sms">>},
    {oneapi_receipt_sms_queue,  <<"pmm.alley.oneapi.incoming.sms">>},
    {mailbox_reply_to_queue,    <<"pmm.alley.kelly.mailbox_reply">>},
    {kelly_api_queue,           <<"pmm.alley.kelly.api">>},
    {kelly_auth_queue,          <<"pmm.alley.kelly.auth">>},
    {kelly_events_exchange,     <<"pmm.alley.kelly.events">>},
    {kelly_sms_request_queue,   <<"pmm.alley.kelly.request.sms">>},
    {receipt_retry_timeouts, [1000, 10000, 30000, 60000, 300000, 900000]},
    {response_retry_timeout, 30000}
]},

{k_mailbox, [
    {delay_rescan_pendings, 3000},
    {no_ack_timeout, 10000},
    {restore_connection_timeout, 60000},
    {rmq_qos, 10}
]},

{lager, [
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [
            {"log/debug.log", debug, 10485760, "$D0", 5},
            {"log/error.log", error, 10485760, "$D0", 5},
            {"log/info.log", info, 10485760, "$D0", 5}
        ]}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
]},

{snmp, [
    {manager,[
        {config, [
            {dir, "manager/conf/"},
            {db_dir, "manager/db/"}
        ]},
        {mibs, ["mibs/JUST-MIB"]}
    ]}
]}
].
